@import "./base.css";

#app {
  font-weight: normal;
  background-color: #1e40af;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.main-vdit{
  overflow-x: hidden;
  padding: 0.75rem 2rem;
  font-size: .875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(var(--color-slate-800) / var(--tw-text-opacity));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.side-nav{
  background-color: #1e40af;
  max-width: 230px;
  color: white;
}

.app-main{
  border-radius: 30px;
  padding: 0 22px;
  min-height: 100vh;
  min-width: 0px;
  flex: 1 1 0%;
  --tw-bg-opacity: 1;
  /* background-color: rgb(var(--color-slate-100) / var(--tw-bg-opacity)); */
  padding-bottom: 2.5rem;
  background-color: white;
  margin-left: 250px
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .8s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(20px);
  opacity: 0;
}